# Dependency directories
node_modules/
**/node_modules/

# Build artifacts
out/
target/
*.wasm

# Environment variables
.env
*.env.local

# Logs
logs/
*.log

# Operating system files
.DS_Store

# Editor files
.idea/
.vscode/

# Frontend build
frontend/build/